<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBNV0A69D49bk1v3_mKF9Ta2qdtNBsk4Pg</string>
	<key>GCM_SENDER_ID</key>
	<string>257265126210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.totoTales</string>
	<key>PROJECT_ID</key>
	<string>tototales-78b9a</string>
	<key>STORAGE_BUCKET</key>
	<string>tototales-78b9a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257265126210:ios:92e513f8a183ebccc156db</string>
</dict>
</plist>